@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.section-title span {
    color: crimson;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.btn:hover {
    color: white;
    background-color: crimson;
}

.brand h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.brand h1 span {
    color: crimson;
}

/* Header Section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: auto;
    width: 100vw;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}

.header .nav-bar {
    padding: 0 10px;
    max-width: 1300px;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#header .nav-list ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: rgb(31, 30, 30);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    left: 100%;
    top: 0;
    flex-direction: column;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    font-weight: 500;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
}

#header .hamburger {
    position: relative;
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.7);
    margin-right: 20px;
}

#header .hamburger::after {
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    content: '';
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    position: relative;
    height: 2px;
    width: 30px;
    z-index: -1;
    background-color: white;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/* End Of Header Section */

/* Hero section */
#hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}


#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: crimson;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* End Of Hero section */

/* Services Section */
#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    border: 2px solid black;
}

#services .service-top {
    margin: 0 auto;
    width: 500px;
}

#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#services .service-bottom {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    background-image: url(../img/card.jpg);
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    font-size: 1.4rem;
    color: white;
    line-height: 1.9rem;
    text-align: left;
}

/* End Of Services Section */

/* Projects Section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(36, 34, 34);
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: .7;
}

#projects .project-img img {
    transform: .3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* End Of Projects Section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
}

#about .col-left {
    width: 350px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .btn {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    position: relative;
    border: 10px solid white;
    height: 100%;
    width: 100%;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid goldenrod;
    z-index: -1;
}

/* End Of About Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 400px;
}

#contact .contact-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 30px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 18px 0 black;
    transition: .3 ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0 0 5px 0 black;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 500;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
}

/* End Of Contact Section */

/* Footer Section */
#footer {
    background-color: rgb(40, 38, 38);
}

#footer .footer {
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
    flex-direction: column;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}

/* End Of Footer Section */

/* Key Frame */
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500px;
    }
}

/* End Of Key Frame */

/* Media Query For Tablet */

@media only screen and (min-width:689px) {
    .btn {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    /* Service section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /* End Of Service section */




    /* Project section */
    #projects .project-item {
        flex-direction: row;
    }

    #projects .project-item {
        margin: 0;
        border-radius: 0;
        height: 400px;
        width: 100%;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }

    /* End Of Project section */

    h1.section-title {
        font-size: 6rem;
    }



    /* Hero section */
    #hero h1 {
        font-size: 7rem;
    }

    /* End Of Hero section */




    /* About Section */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        padding-left: 60px;
        width: 600px;
        height: 400px;
    }

    #about .about .col-left .about-img::after {
        width: 98%;
        height: 98%;
        border: 10px solid goldenrod;
        left: -45px;
        top: 34px;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }

    /* End Of About Section */

    /* Contact Section */
    #contact .contact {
        align-items: center;
        padding: 100px 0;
        justify-content: center;
        flex-direction: column;
        min-width: 20vh;
    }

    #contact .contact-items {
        display: flex;
        padding: 20px;
        margin: 0;
        width: 100%;
        flex-direction: row;
    }

    #contact .contact-item {
        margin: 20px;
        flex-direction: row;
    }

    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }

    #contact .contact-item .icon img {
        object-fit: contain;
    }

    #contact .contact-item .contact-info {
        padding-left: 20px;
        width: 100%;
        text-align: left;

    }

    /* End Of Contact Section */
}

/* End Of Media Query For Tablet */


/* Media Query For Desktop */

@media only screen and (min-width:1200px) {

    /* Header Section */
    #header .hamburger {
        display: none;
    }

    /* End Of Header Section */


    /* Service Section */
    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }

    /* End Of Service Section */
}

/* End Of Media Query For Desktop */